body{
    background-color: black;
}
@media only screen and (max-width: 600px){
    body{
        background-color: blueviolet;
    }
}

h1{
    font-family: "covered By Your Grace";
    color: rgb(10,100,100);
    text-shadow: 1px 1px rgba(255,255,255,0.8)
}

.cent{
    text-align: center;
}
h4{
    color: white;
}
#form{
    padding-bottom: 3em;
}
.box{
    color: aliceblue;
    padding-bottom: 1em;
    padding-left: 1em;
    font-size:  2em;
}

#userPic{
    float: left;
    height: 15em;
    padding-right: 5em;
    padding-left: 30em;
}