body{
    background-color: black;
    text-align: center;
}
@media screen and (max-width: 100px){
    body{
        background-color: blue;
        font-size: 100px;
    } 
}
/*cant seem to get media screen to work*/
/*scrapping having userpic float on left*/

h1{
    font-family: "covered By Your Grace";
    color: rgb(10,100,100);
    text-shadow: 1px 1px rgba(255,255,255,0.8)
}

.cent{
    text-align: center;
}
h4{
    color: white;
}
#form{
    padding-bottom: 1em;
}
.box{
    color: white;
    padding-bottom: 1em;
    font-size:  1em;
}

#userPic{
    height: 15em;
}